* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans';
}

/* Font Size */
p {
    font-size: 1rem;
}

/* Menu Nav Bar */
.header {
  height: 90px;
  background: #ffffff;
  padding: 0 20px;
  color: rgb(0, 0, 0);
}
.logo{
  float: left;
  align-items: center;
} 
.logo img {
    height: 45px;
    margin: 25px 0 0 25px;
} 
.menu {
  float: right;
  line-height: 100px;
}
.menu a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: rgb(255, 123, 0); 
}
#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.content {
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p {
  text-align: justify;
}

/* Banner Contato */
.container-contato {
    background: url("./img/banner.jpg") no-repeat center center;
    background-size: cover;
    background-color: 0;
    height: 65vh;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}
.texto-contato {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texto-contato h1 {
    text-transform: uppercase;
}
.texto-contato p {
    margin-top: 25px;
}
.btn-contato {
    margin-top: 15px;
    width: 130px;
    height: 35px;
    border-radius: 2em;
    text-transform: uppercase;
    border: none;
    text-align: center;
    background-color: rgb(255, 123, 0); 
    color: white;
    font-size: .8rem;
}
.btn-contato:hover {
    background-color: rgb(255, 180, 109); 
    transition: .3s;
}


/* Container Títulos */
.container-titulos {
    height: 100%;
    padding: 30px;
}
.container-titulos ul {
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
}
.container-titulos p {
    padding: 20px;
    font-size: .9rem;
}
.lista-itens {
    padding: 10px;
}
.icone {
    font-size: 80px;
    color: rgb(255, 123, 0); 
    margin-bottom: 20px;
}


/* Section Sobre Nós */
.container-sobre {
    height: auto;
    background-color: rgb(248, 248, 248);
}
.sobre-nos {
    justify-content:space-between;
    margin: 0 40px;
    display: flex;
    padding: 40px;
}
.texto-sobre {
    width: 60%;
    text-align: left;
    margin-top: 80px;
}
.texto-sobre h2 p {
    margin-bottom: 10px;
}
.imagem-sobre img{
    height: 350px;
}


/* Últimas do Blog */
.container-ultimas {
    height: auto;
    align-items: center;
}
.container-ultimas h2 {
    margin-top: 30px;
    text-align: center;
}
.lista-ultimas {
    display: flex;
    justify-content: center;
}
.ultimas-itens {
    height: auto;
    width: 330px;
    margin: 15px;
    background-color: rgb(248, 248, 248);
}
.ultimas-itens img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.desc-ultimas {
    padding: 10px;
}
.desc-ultimas p {
    margin-top: 8px;
}


/* Footer */
.end-footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    color: white;
    height: 35px;
    line-height: 35px;
    margin-top: 50px;
}


/* Media Queries */
@media (max-width: 575.98px) {
    .container-titulos ul {
        display: block;
    }
    .texto-sobre {
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .sobre-nos {
        width: auto;
    }
    .container-ultimas {
        display: block;
        align-items: center;
    }
    .ultimas-itens {
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .container-titulos ul {
        display: block;
    }
    .texto-sobre {
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .sobre-nos {
        width: auto;
    }
    #mac {
        display: none;
    }
    .container-ultimas ul {
        display: block;
        align-items: center;
    }
    .ultimas-itens {
        height: auto;
        margin: 0;
    }
}

@media (max-width: 991.98px) {
    .ultimas-itens {
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn {
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(248, 248, 248);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 10;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu {
        right: 0;
    }
    .logo img {
        margin: 25px 0 0 0;
    }
  }
